.forgotpassword-container {
  user-select: none;
}

.forgotpassword-button {
  height: 44px;
  width: 412px;
  background-color: #04A51E;
  border-radius: 50px;
  margin-top: 10px;
}

.forgotpassword-text {
  font-family: 'plusjakarta', sans-serif;
  color: white;
}

.login-text {
    font-family: 'plusjakarta', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
  }