.resetpassword-text {
    font-family: 'plusjakarta', sans-serif;
}

.resetpassword-container {
  user-select: none;
}

.resetpassword-button {
  height: 44px;
  width: 412px;
  background-color: #04A51E;
  border-radius: 50px;
  margin-top: 10px;
}

.resetpassword-text {
  font-family: 'plusjakarta', sans-serif;
  color: white;
}